
name: Pomodoro Tests

on: [push]

jobs:
  run_tests:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - xcode: "14.2"
            ios: "16.2"
          - xcode: "15.3"
            ios: "17.2"
    name: test iOS (${{ matrix.ios }})
    steps:
    - uses: actions/checkout@v2
    - name: Check Xcode Version
      run: /usr/bin/xcodebuild -version
    - name: Download iOS
      run: /usr/bin/xcodebuild -downloadPlatform iOS
    - name: Check Available Simulators
      run: /usr/bin/xcrun simctl list devices
    - name: Run Tests
      run: xcodebuild test -scheme Pomodoro -project Pomodoro.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 14,OS=16.2'
