name: Pomodoro Tests

on: [push]

jobs:
  run_tests:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - xcode: "15.0"
            ios: "17.2"
    name: test iOS (${{ matrix.ios }})
    steps:
    - uses: actions/checkout@v4
    - uses: futureware-tech/simulator-action@v3
    with:
      model: 'iPhone 15'
    - name: Check Xcode version
      run: /usr/bin/xcodebuild -version
    - name: Run tests
      run: xcodebuild test -scheme Pomodoro -project Pomodoro.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 15,OS=17.0' | xcpretty && exit ${PIPESTATUS[0]}

