name: Pomodoro Tests

on: [push]

jobs:
  run_tests:
    runs-on: macos-latest
    strategy:
      matrix:
        include:
          - xcode: "15.2"
            ios: "17.2"
          - xcode: "15.3"
            ios: "17.0"
    name: test iOS (${{ matrix.ios }})
    steps:
    - uses: actions/checkout@v4
    - name: Check Xcode version
      run: /usr/bin/xcodebuild -version
    - name: Run tests
      run: xcodebuild test -scheme Pomodoro -project Pomodoro.xcodeproj -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=$' | xcpretty && exit ${PIPESTATUS[0]}
